@import '../node_modules/normalize.css/normalize.css';

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color--headings: #1b0760;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-body-darker: #5c5577;

  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color--headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}
.badge--primary {
  background-color: var(--color-primary);
  color: #fff;
}
.badge--secondry {
  background-color: var(--color-secondary);
  color: #fff;
}
.badge--small {
  font-size: 1.6rem;
  padding: 0.5rem 1.5rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url("../icons/tick.svg");
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* Icnos */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: #fff;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon-container {
  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background-color: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: none;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn--small {
  padding: 1.5rem 1.8rem;
  font-size: 1.5rem;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #3a8ffd;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #00c8eb;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #f8491d;
}

.btn--outline {
  background-color: #fff;
  color: var(--color--headings);
  border: 2px solid var(--color--headings);
}

.btn--outline:hover {
  color: #fff;
  background-color: var(--color--headings);
}
.btn--block {
  width: 100%;
  display: inline-block;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
/* Card */

.card {
  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  overflow: hidden;
}

.card__header,
.card__body {
  padding: 2rem 7%;
}

.card--primary header {
  background-color: var(--color-primary);
  color: #fff;
}

.card--secondary header {
  background-color: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background-color: #125de4;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

/* Plans */

.plan {
  transition: transform 0.2s ease-out;
}

.plan__name {
  color: #ffff;
  margin: 0;
  font-weight: 500;
  font-size: 2.4rem;
}

.plan__price {
  font-size: 5rem;
}

.plan__billing-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__desc {
  font-size: 2rem;
  font-weight: 300;
  word-spacing: 1px;
  display: block;
}

.plan .list__item {
  margin-bottom: 2rem;
}

.plan--popular .card__header {
  position: relative;
}

.plan--popular .card__header::before {
  content: url("../images/popular.svg");
  width: 40px;
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 5%;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular:hover {
  transform: scale(1.15);
}

@media screen and (min-width: 1024px) {
  .plan__name {
    font-size: 1.4rem;
  }

  .plan__price {
    font-size: 5rem;
  }

  .plan__billing-cycle {
    font: 1.6rem;
  }
  .plan__desc {
    font-size: 1.7rem;
  }
  .plan--popular {
    transform: scale(1.1);
  }
}
/* Media */

.media {
  display: flex;
}

.media__title {
  margin-top: 0;
}

.media__body {
  margin: 0 2rem;
}

.media__image {
  margin-top: 1rem;
}

/* Quote */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body-darker);
  line-height: 1.3;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__author {
  font-family: Montserrat;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 0;
}

.quote__company {
  opacity: 0.4;
  font-size: 2rem;
  font-style: normal;
  color: var(--color--headings);
}

.quote__line {
  position: relative;
  bottom: 10px;
}

@media screen and (min-width: 1024px) {
  .quote {
    font-size: 2rem;
  }
  .quote__author {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/* Grid */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Testimonial */
.testimonial {
  overflow: visible;
  padding: 3rem;
}

.testimonial__image {
  position: relative;
}

.testimonial__image > .icon-container {
  position: absolute;
  top: 3rem;
  right: 0;
  transform: translateX(50%);
}

.testimonial__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .testimonial .quote,
  .testimonial .quote__author {
    font-size: 2.4rem;
  }

  .testimonial .quote {
    margin-left: 6rem;
    margin-top: 6rem;
  }
}

/* Callout */
.callout {
  padding: 4rem;
  border-radius: 5px;
}

.callout--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.callout__heading {
  color: #fff;
  margin-top: 0;
  font-size: 3rem;
}

.callout .btn {
  align-self: center;
  justify-self: center;
}

.callout__content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .callout .grid--1x2 {
    grid-template-columns: 1fr auto;
  }

  .callout__content {
    text-align: left;
  }
  .callout .btn {
    justify-self: start;
    margin: 0 2rem;
  }
}

/* collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  font-size: 3rem;
  margin-top: 0;
  user-select: none;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s linear;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
  user-select: none;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Blocks */
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.block__heading {
  margin-top: 0;
}

.block--dark {
  background-color: #000;
  color: #7b858b;
}

.block--dark h1 {
  color: #fff;
}
.block--dark h2 {
  color: #fff;
}
.block--dark h3 {
  color: #fff;
}

.block--skewed--right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}
.block--skewed--left {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding-bottom: calc(var(--padding-vertical) + 4rem);
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Nav */
.nav {
  align-items: center;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #222;
}
.nav__item > a {
  color: #d2d0db;
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: #fff;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}

.nav__brand {
  transform: translateY(5px);
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }

  .nav__item {
    border: none;
  }
}

/* Hero */

.hero {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.hero__tagline {
  color: #b9c3cf;
  font-size: 2rem;
  letter-spacing: 1px;
  margin: 2rem 0 5rem 0;
}

.hero__image {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
  }

  .hero__content {
    text-align: left;
    align-self: center;
  }
}

/* Domain block */
.block-domain .input-group {
  border: none;
  box-shadow: 0 0 30px 20px #e6ebee;
  margin: 4rem auto;
  max-width: 700px;
}

.block-domain__prices {
  color: var(--color--headings);
  display: grid;
  font-size: 2rem;
  font-weight: 600;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 6rem);
  justify-items: center;
  margin: 0 auto;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .block-domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/* Plans block */

.block-plans .grid {
  gap: 8rem 4rem;
}

.block-plans .card {
  max-width: 500px;
  margin: 0 auto;
}

/* Features */

.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;
}

.feature__heading {
  margin: 1rem 0;
}

.feature__image {
  width: 100%;
}

.feature:first-of-type {
  margin-top: 6rem;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

/* Showcase Block */
.block-showcase__image > img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .block-showcase .grid {
    grid-template-columns: 50% 50%;
  }

  .block-showcase__image {
    justify-self: end;
  }

  .block-showcase__image > img {
    width: auto;
    max-width: 700px;
  }
}

/* Footer */

.footer {
  background-color: #232323;
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__heading {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  text-align: center;
  margin-top: 5rem;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

.footer__copyright {
  font-size: 2.1rem;
  color: #fff;
  opacity: 0.3;
}

.footer a {
  color: #777;
  transition: color 0.3s;
}

.footer a:hover {
  color: #fff;
}

.footer__section .list {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__sections {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }

  .footer .collapsible__chevron {
    display: none;
  }

  .footer .collapsible__content {
    opacity: 1;
    max-height: 100%;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }

  .footer__section {
    border: none;
  }

  .footer__heading {
    font-size: 1.6rem;
  }
}
