<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nam hic
      eveniet omnis aliquid, ex pariatur possimus impedit inventore! Nemo vel
      recusandae architecto quidem possimus. Nihil aliquam exercitationem
      reiciendis mollitia.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ut
        nostrum hic a repellendus aspernatur, sed ratione tempore recusandae
        odio.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed--left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat nam hic
      eveniet omnis aliquid, ex pariatur possimus impedit inventore! Nemo vel
      recusandae architecto quidem possimus. Nihil aliquam exercitationem
      reiciendis mollitia.
    </p>
  </div>
</section>
