<section class="block container block-domain">
  <header class="block__header">
    <h2>Starting at $9 per months</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, tenetur!
    </p>
  </header>

  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here" />
    <button class="btn btn--accent btn--small">
      <svg class="icon icon-white">
        <use xlink:href="icons/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondry">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $14</li>
    <li>.info $10</li>
    <li>.net $12</li>
    <li>.xyz $10</li>
  </ul>
</section>
