<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, debitis
        recusandae. Recusandae, minus quos? Amet dolor adipisci error veniam
        eos.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>

        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="icons/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, debitis
        recusandae. Recusandae, minus quos? Amet dolor adipisci error veniam
        eos.
      </div>
    </section>

    <section class="footer__brand">
      <img src="images/myLogo.svg" alt="" />
      <p class="footer__copyright">Copyright 2021 Amirhossein Nouri</p>
    </section>
  </div>
</footer>
