<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum incidunt illo provident ex laboriosam impedit sit quasi repellendus rerum nam!</p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="icons/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John smith</h3>
          <p class="quote__company">
            ABC company
          </p>
        </div>
      </div>
    </footer>
  </blockquote>