<section class="block">
    <header class="block__header">
      <h2>What out customers are saying</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio natus
        sed animi ad suscipit sequi voluptates nam iure, illo fugiat quos
        commodi dignissimos quo cum asperiores officia? Nesciunt, vero.
        Recusandae!
      </p>
    </header>
    <div class="container">
      <div class="card testimonial">
        <div class="grid grid--1x2">
          <div class="testimonial__image">
            <img
              src="./images/testimonial.jpg"
              alt="A hapy smiling costumer"
            />
            <span class="icon-container icon-container--accent">
              <svg class="icon icon--white icon--sma">
                <use xlink:href="icons/sprite.svg#quotes"></use>
              </svg>
            </span>
          </div>
          <blockquote class="quote">
            <p class="quote__text">
              Lorem ipsum dolor sit amet m ipsum dolor sit amet conm ipsum
              dolor sit amet conconsectetur adipisicing elit. Earum incidunt
              illo provident ex laboriosam impedit sit quasi repellendus rerum
              nam!
            </p>
            <footer>
              <div class="media">
                <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                    <use xlink:href="icons/sprite.svg#line"></use>
                  </svg>
                </div>
                <div class="media__body">
                  <h3 class="media__title quote__author">John smith</h3>
                  <p class="quote__company">ABC company</p>
                </div>
              </div>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </section>